body {
    text-align: center;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
      monospace;
    background: #000;
    color: #fff;
  }
  
  div {
    margin-top: 2em;
  }
  
  a, input, button {
    text-decoration: none;
    color: #222;
    font-size: 1.2em;
    display: inline-block;
    border: 4px solid #222;
    border-image: var(--rainbow-gradient);
    border-image-slice: 1 1 1 1;
    padding: 16px;
    position: relative;
    transition: transform 0.1s ease-in-out;
    transform: translate3d(0px, 0px, 0);
    transform-style: preserve-3d;
  }
  button {
    background: #fdfdfc;
    cursor: pointer;

  }
  
  a:hover,  input:hover {
    position: relative;
    transform: translate3d(3px, 3px, 0);
  }
  
  a::before, input::before, button::before {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    transform: translate3d(3px, 3px, -1px);
    background: #222;
    border: 4px solid #222;
    transition: transform 0.2s ease-in-out;
  }
  
  button {
    padding: 20px 16px 16px 20px;
    transition: transform 0.2s ease-in-out, padding 0.2s ease-in-out;
  }
  
  button:hover {
    padding: 18px;
  }
  
  button::before {
    background: none;
  }
  
  a:hover::before ,  input:hover::before{
    transform: translate3d(-4px, -4px, -1px);
  }
  
  :root {
    --rainbow-gradient: linear-gradient(
      45deg,
      hsl(6deg 100% 50%) 0%,
      hsl(29deg 100% 50%) 12%,
      hsl(45deg 100% 50%) 20%,
      hsl(59deg 100% 50%) 28%,
      hsl(80deg 100% 64%) 35%,
      hsl(117deg 100% 73%) 41%,
      hsl(159deg 100% 50%) 48%,
      hsl(183deg 100% 47%) 55%,
      hsl(197deg 100% 50%) 62%,
      hsl(211deg 100% 51%) 70%,
      hsl(266deg 77% 66%) 78%,
      hsl(310deg 70% 55%) 88%,
      hsl(327deg 100% 50%) 100%
    );
  }
  